@model List<WiserSenseHR.Data.Entities.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    $(document).ready(function () {
    $('#myTable').DataTable({
    language: {
    url: '//cdn.datatables.net/plug-ins/2.2.2/i18n/tr.json'
    }
    });
    });


</script>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>KULLANICILAR</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/User/Index">Kullanıcılar</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<style>
    .content-header {
    border-top: 1.5px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding-bottom: 7px;
    margin-bottom: 10px;
    }
</style>
<!-- /.content-header -->

<p>
    @if (User.IsInRole("Admin"))
    {
    <a asp-action="Create" class="btn btn-primary">Yeni Kullanıcı</a>
    <span>|</span>
    <a asp-action = "InactiveUsers" class="btn btn-primary">Eski Kullanıcılar</a>
    }
    
</p>
<table class="table table-bordered" id="myTable">
    <thead>
        <tr>
            <th>
                İsim
            </th>
            <th>
               Mail
            </th>
            <th>
                Durum
            </th>
            <th>
                Rol
            </th>
            <th>
                Departman
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>         
                        <span>|</span>
                <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                        <span>|</span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
            </td>
        </tr>
}
    </tbody>
</table>
